@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kebijakan Privasi";
}
<h3>@ViewData["Title"]</h3>

<hr />
<p>
    Kami berkomitmen untuk menjaga privasi dari pengunjung dan pengguna situs web kami, kebijakan ini memberitahukan bagaimana kami memperlakukan informasi pribadi Anda.
    Kebijakan privasi ini mengatur cara kami mengumpulkan, menggunakan, memelihara, dan mengungkapkan informasi yang dikumpulkan dari pengunjung dan pengguna situs web ini.
</p>

<h5>Informasi yang kami kumpulkan</h5>
<p>
    Kami mengumpulkan informasi pribadi dari pengguna melalui formulir online ketika pengguna memesan produk dan jasa kami.
    Kami juga dapat mengumpulkan informasi tentang bagaimana para pengguna menggunakan situs web kami, misalnya dengan melacak jumlah tampilan unik yang diterima oleh halaman-halaman situs web atau domain dari mana pengguna berasal.
    Kami menggunakan 'cookies' untuk melacak bagaimaan pengguna menggunakan situs web kami.
</p>

<h5>Cookies</h5>
<p>
    Cookies adalah file yang merupakan serangkaian informasi berbentuk teks yang dikirim oleh server web dan disimpan oleh web browser komputer Anda ataupun perangkat lainnya ketika Anda mengakses sebuah situs web.
    Cookies tersebut dikirim kembali ke situs asal setiap kali browser meminta halaman dari server.
    Cookies ini memungkinkan situs web kami untuk mengenali perangkat pengguna.
    Kami mungkin menggunakan informasi yang diambil dari cookies untuk meningkatkan pengalaman pengguna situs dan keperluan pemasaran.
    Kami juga mungkin menggunakan informasi tersebut untuk melakukan personalisasi situs kami untuk Anda.
</p>

<h5>Bagaimana kami menggunakan informasi</h5>
<p>
    Kami dapat menggunakan informasi pribadi yang dikumpulkan melalui situs web kami untuk menghubungi pengguna berkaitan dengan produk dan jasa yang ditawarkan oleh Film Box Office dan mitra bisnis, dan sebaliknya untuk meningkatkan pengalaman pengguna terhadap Film Box Office.
    Informasi pribadi tidak akan dijual atau dialihkan ke mitra bisnis kami tanpa persetujuan Anda, kecuali bahwa kami akan mengungkapkan informasi yang kami kumpulkan kepada pihak pemerintah atau pihak yang berwenang lainnya jika dibutuhkan oleh hukum dan peraturan perundang-undangan yang berlaku.
</p>
